<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250674056063-n2bb49bklcj9f1td7lj39lumad9f7u6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250674056063-n2bb49bklcj9f1td7lj39lumad9f7u6q</string>
	<key>API_KEY</key>
	<string>AIzaSyCrOsn-uOMB5HUmnE47R6aOdLC9dLgng3M</string>
	<key>GCM_SENDER_ID</key>
	<string>250674056063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sportlove</string>
	<key>PROJECT_ID</key>
	<string>sportloveprojet</string>
	<key>STORAGE_BUCKET</key>
	<string>sportloveprojet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250674056063:ios:c02b7292b0c97dc667e84a</string>
</dict>
</plist>